/*/*.o
/*/*.tmp
/*/.deps/

/extracted.stamp

/calc++/calc++
/calc++/calc++.exe
/calc++/calc++.cc
/calc++/calc++.log
/calc++/calc++.trs
/calc++/calc++-driver.cc
/calc++/calc++-driver.hh
/calc++/calc++-parser.cc
/calc++/calc++-parser.hh
/calc++/calc++-parser.output
/calc++/calc++-parser.stamp
/calc++/calc++-parser.yy
/calc++/calc++-scanner.cc
/calc++/calc++-scanner.ll
/calc++/calc.stamp
/calc++/location.hh
/calc++/position.hh
/calc++/stack.hh

/mfcalc/calc.h
/mfcalc/mfcalc
/mfcalc/mfcalc.exe
/mfcalc/mfcalc.log
/mfcalc/mfcalc.trs
/mfcalc/mfcalc.c
/mfcalc/mfcalc.h
/mfcalc/mfcalc.output
/mfcalc/mfcalc.stamp
/mfcalc/mfcalc.y

/rpcalc/calc.h
/rpcalc/rpcalc
/rpcalc/rpcalc.exe
/rpcalc/rpcalc.log
/rpcalc/rpcalc.trs
/rpcalc/rpcalc.c
/rpcalc/rpcalc.h
/rpcalc/rpcalc.output
/rpcalc/rpcalc.stamp
/rpcalc/rpcalc.y
